Repository musicfox/sim-exchange, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, research, test, modeling, packaging, build

:arrow_up: upgrade dependencies to latest versions
  backend/Pipfile.lock
  backend/application/requirements.txt
Labels: packaging

:construction: barebones application structure passes initial instantiation test
  backend/application/app.py
  backend/application/conftest.py
Labels: none

:tada: add initial test suites
  backend/application/conftest.py
  backend/application/test/test_Dealer.py
  backend/application/test/test_DemandQueue.py
  backend/application/test/test_MatchingAlgo.py
  backend/application/test/test_OPL.py
Labels: none

:arrow_up: :large_plus_sign: add dataclasses_json and upgrade deps
  backend/Pipfile
  backend/Pipfile.lock
  backend/application/requirements.txt
Labels: packaging

:sparkles: add naive fixtures to generate investors and asset users
  backend/application/conftest.py
  backend/application/entities.py
  backend/application/test/test_entities.py
Labels: none

:sparkles: add naive fixtures to generate investors and asset users
  backend/application/app.py
  backend/application/conftest.py
  backend/application/entities.py
  backend/application/test/test_Dealer.py
  backend/application/test/test_DemandQueue.py
  backend/application/test/test_MatchingAlgo.py
  backend/application/test/test_OPL.py
  backend/application/test/test_entities.py
Labels: none

:large_plug_sign: add pandas and matplotlib dependencies
  backend/Pipfile
  backend/Pipfile.lock
Labels: none

:sparkles: add user arrivals simulation from wikipedia arrival timeseries w/arrivalPath fixture
  backend/application/conftest.py
  backend/application/datasets/__init__.py
  backend/application/datasets/arrivals_wikipedia.csv
  backend/application/test/test_entities.py
Labels: none

:pencil: add inline comments to asset/investor user classes and improve docstrings
  backend/application/entities.py
Labels: none

Adding demand queue splay tree class and test cases
  backend/application/demand_queue_splay.py
  backend/application/test/test_splay.py
Labels: none

:recycle: expand upon unit tests and add splay-specific fixtures
  backend/application/conftest.py
  backend/application/test/test_splay.py
Labels: none

:fire: remove black and upgrade to Python 3.8
  backend/Pipfile
  backend/Pipfile.lock
Labels: none

:art: blacken to 79 lines
  backend/application/datasets/__init__.py
  backend/application/demand_queue_splay.py
  backend/application/entities.py
  backend/application/test/test_entities.py
Labels: none

:art: blacken to 79 lines
  backend/application/conftest.py
  backend/application/test/test_splay.py
Labels: none

:recycle: update __str__ in Order and remove dunders in OrderBook
  backend/application/demand_queue_splay.py
Labels: none

Add files via upload
  backend/application/OPL.py
  backend/application/Users.py
Labels: none

Delete OPL.py
  backend/application/OPL.py
Labels: none

Delete Users.py
  backend/application/Users.py
Labels: none

Add files via upload
  backend/application/OPL.py
  backend/application/Users.py
  backend/application/main.py
Labels: none

:arrow_up: :recycle: upgrade to Python 3.8 and remove black dep
  backend/Pipfile
  backend/Pipfile.lock
  backend/application/requirements.txt
Labels: packaging

:fire: move to traditional cb file
  backend/cloudbuild-active-dev.yaml
Labels: none

:sparkles: move build to traditional cloudbuild yaml spec
  backend/cloudbuild.yaml
Labels: none

:recycle: :fire: update and remove build and setup info
  .gitignore
  backend/build_cicd.sh
Labels: none

:large_plug_sign: add scipy dep
  backend/Pipfile
  backend/Pipfile.lock
  backend/application/requirements.txt
Labels: packaging

:recycle: :bug: fix directory structure for build
  backend/application/Dockerfile
  backend/cloudbuild.yaml
Labels: build

:recycle: :bug: fix directory structure for build
  backend/application/Dockerfile
  backend/cloudbuild.yaml
Labels: build

:art: blacken to pass build
  backend/application/conftest.py
  backend/application/datasets/__init__.py
  backend/application/entities.py
  backend/application/notes.md
  backend/application/test/test_entities.py
Labels: none

:fire: remove superflous file
  backend/application/notes.md
Labels: none

Adding updated demand queue and tests
  backend/application/demand_queue_splay2.py
  backend/application/test_splay2.py
Labels: none

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - frontend/README.md
    - backend/README.md
    - docs/*
    - research/README.md
    - research/models/README.md

research:
    - research/*

test:
    - frontend/test/*
    - backend/test/*
    - research/models/test/*

modeling:
    - research/models/*

packaging:
    - frontend/package.json
    - backend/Pipenv*
    - backend/application/requirements.txt

build:
    - backend/application/Dockerfile
    - backend/*-cloudbuild.yaml 
    - frontend/package.json
